/* Main Table Styles */
#projectTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 14px;
}

#projectTable th,
#projectTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}



.loading {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999; /* Ensure it's above all other elements */
}

.loading-spinner {
    position: absolute;
    top: 10%; /* Position it at the top */
    left: 68%;
    transform: translate(-50%, 0); /* Center horizontally */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid #f3f3f3; /* Light grey border */
    border-top: 5px solid #3498db; /* Blue border for spinner animation */
    animation: spin 1s linear infinite; /* Rotate animation */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}





.project-table th {
    background-color: #004e78;
    color: white;
}


/* Sub-Table Styles */
.job-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 12px;
    background-color: #e0f7fa;
}

.job-table th,
.job-table td {
    border: 1px solid #bbb;
    padding: 6px;
    text-align: left;
}

.job-table th {
    background-color: #43aee8;
    color: white;
}

/* .job-table tr:nth-child(even) {
    background-color: #b3e5fc;
} */


.card {
    width: 250px; /* Smaller fixed width for the card */
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto; /* Center the card horizontally */
    position: relative; /* Necessary for absolute positioning of the icon */
    padding: 15px; /* Add padding for better spacing */
}

.card-body {
    position: relative; /* Necessary for absolute positioning of the icon */
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    color: #343a40;
    margin-bottom: 10px;
}

.card-text {
    font-size: 16px;
    color: #6c757d;
    margin-bottom: 15px;
}

.edit-distance-info {
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-block;
}

.info-icon {
    font-size: 16px;
    color: #999;
}

.edit-distance-info:hover::after {
    content: attr(title);
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    white-space: nowrap;
    z-index: 1000;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    display: block;
    width: max-content;
}



table {
    font-size: 14px;
}

table th, table td {
    padding: 5px 10px;
    text-align: left;
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination-button {
    margin: 0 5px;
    padding: 5px 10px;
}

.pagination-button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

#projectForm {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#projectForm div {
    margin-right: 20px;
}

#projectForm label {
    display: block;
}

#projectForm input[type="text"], #projectForm input[type="date"], #projectForm select {
    margin-top: 5px;
}

#projectForm input[type="submit"] {
    margin-top: 10px;
}

#projectForm input, #projectForm select {
    padding: 5px;
    font-size: 14px;
}
.edit-distance-card {
    border: 1px solid #ddd;
    padding: 16px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
}

.card-content {
    text-align: center;
}

.card-content h3 {
    margin: 0;
    font-size: 1.2em;
    color: #333;
}

.card-content p {
    margin: 5px 0 0;
    font-size: 1.5em;
    color: #555;
}

